.bg {
  /* The image used */
  background-image: url("../img/Background4.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgsecond {
  /* The image used */
  background-image: url("../img/Background6.jpeg");

/*   Full height */
/*   height: 100%; */

/* /*   Center and scale the image nicely */ */
/*   background-position: center; */
/*   background-repeat: no-repeat; */
/*   background-size: cover; */
  
		background-position: center;
        background-repeat: inherit;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;

/* -webkit-background-size: cover; */
/* -moz-background-size: cover; */
/* -o-background-size: cover; */
/* background-size: cover; */
/* z-index: -1; */
}

body{
  height: 100%;
}

/* #stars */

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
/* #stars */

/* radio */

*{font-family: 'Roboto', sans-serif;}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}


.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}


/* radio */

/* drag and drop Table */

.selected {
	background-color: #666;
	color: #fff;
}
/* drag and drop Table */
/* logo */
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 0%;
  padding: 0%;
  width: 65px;
}
/* logo */
/* hide radio button for freetext */
.hide-radio {
    display : none;
} 
/* hide radio button for freetext */

  /* Bordered form */
#frame{
 /* border: 5px solid #c0c0c0; */
  width:500px;
padding-top: 40px;
padding-bottom: 40px;
padding-left: 35px;
}

#logInButton{
	margin-top: 30px;
	background-color: #00bbbb;
}


/* Add a hover effect for buttons */ 
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


/* Add padding to containers */
/* .container { */
/*   padding: 16px; */

/* } */


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} 





 {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn {
  float: left;
  width: 50%;
  
}
.signupbtn{
	background-color:#00bbbb;
}


/* /* Add padding to container elements */ */
/* .container { */
/*   padding: 16px; */
  
/* } */

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 200px) {
  .cancelbtn, .signupbtn {
    width: 100%;
margin-left:150px;
  }
}
