<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
    <title>Feedbacksystem</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link 	rel="stylesheet" th:href="@{/css/style.css}" />
	<!-- additional libs -->
    <link   rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link 	rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>

	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/popper.js/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    
    
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Feedbacksystem</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="/">Home 
					<span class="sr-only">(current)</span>
				</a> 
				<a class="nav-item nav-link" href="/events">Events</a> 
				<a class="nav-item nav-link" href="#"></a>
			</div>
			<form class="form-inline">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
<!-- 		<img th:src="@{/img/logo2.png}" class="rounded float-right col-md-1" alt="Responsive image"> -->
	</nav>
</body>


<body class="bg-light text-dark bgsecond">
    <div class="container">
        <br><br>
        <h1 class="col-md-10">Events
            <button type="button" class="btn btn-dark float-right" th:onclick="|window.location.href='@{/newEvent}'|" data-toggle="tooltip" data-placement="bottom" title="create new event">New</button>
        </h1>
        <div class="row col-md-10 table-responsive">
            <table id="eventsTable" class="table">
                <tbody>
                        <tr th:style="${rowStat.odd} ? 'color: black' : 'color: black;'"
                        th:each="event, rowStat: ${events}">
                            <td class="col-md-8" th:text="${event.name}" th:onclick="|window.location.href='@{/questions(eventId=${event.id})}'|" data-toggle="tooltip" data-placement="bottom" title="show questions to event">EventName</td>
                            <td class="col-md-1"> <button type="button" class="btn btn-dark float-right" th:onclick="|window.location.href='@{/newEvent(eventId=${event.id})}'|" data-toggle="tooltip" data-placement="bottom" title="edit"><i class="fa fa-edit"></i></button> </td>
                            <td class="col-md-1"> <button type="button" class="btn btn-dark float-right" th:onclick="|window.location.href='@{/deleteEvent(eventId=${event.id})}'|" data-toggle="tooltip" data-placement="bottom" title="delete"><i class="fa fa-trash"></i></button> </td>
                            <td class="col-md-1"> <button type="button" class="btn btn-dark float-right" th:onclick="|window.location.href='@{/qrCode(eventId=${event.id})}'|" data-toggle="tooltip" data-placement="bottom" title="generate qrcode"><i class="fa fa-qrcode"></i></button></td> 
                            <td class="col-md-1"> <button type="button" class="btn btn-dark float-right" th:onclick="|window.location.href='@{/answer(eventId=${event.id})}'|" data-toggle="tooltip" data-placement="bottom" title="preview"><i class="fa fa-check"></i></button> 
                            </td>
                            <td class="col-md-1"> <button type="button" class="btn btn-dark float-right" th:onclick="|window.location.href='@{/download(eventId=${event.id})}'|" data-toggle="tooltip" data-placement="bottom" title="preview"><i class="fa fa-download"></i></button> 
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>