<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/headerHead :: head">...</div>

<div th:replace="fragments/headerNavBar :: header">...</div>


<body class="bg-light text-dark bgsecond">
    <div class="container">
        <br><br>
        <h1 class="col-md-10">Events
            <button type="button" class="btn btn-dark float-right" th:onclick="|window.location.href='@{/newEvent}'|" data-toggle="tooltip" data-placement="bottom" title="create new event">New</button>
        </h1>
        <div class="row col-md-10 table-responsive">
            <table id="eventsTable" class="table">
                <tbody>
                        <tr th:style="${rowStat.odd} ? 'color: black' : 'color: black;'"
                        th:each="event, rowStat: ${events}">
                            <td class="col-md-8" th:text="${event.name}" th:onclick="|window.location.href='@{/questions(eventId=${event.id})}'|" data-toggle="tooltip" data-placement="bottom" title="show questions to event">EventName</td>
                            <td class="col-md-1"> <button type="button" class="btn btn-dark float-right" th:onclick="|window.location.href='@{/newEvent(eventId=${event.id})}'|" data-toggle="tooltip" data-placement="bottom" title="edit"><i class="fa fa-edit"></i></button> </td>
                            <td class="col-md-1"> <button type="button" class="btn btn-dark float-right" th:onclick="|window.location.href='@{/deleteEvent(eventId=${event.id})}'|" data-toggle="tooltip" data-placement="bottom" title="delete"><i class="fa fa-trash"></i></button> </td>
                            <td class="col-md-1"> <button type="button" class="btn btn-dark float-right" th:onclick="|window.location.href='@{/qrCode(eventId=${event.id})}'|" data-toggle="tooltip" data-placement="bottom" title="generate qrcode"><i class="fa fa-qrcode"></i></button></td> 
                            <td class="col-md-1"> <button type="button" class="btn btn-dark float-right" th:onclick="|window.location.href='@{/answer(eventId=${event.id})}'|" data-toggle="tooltip" data-placement="bottom" title="preview"><i class="fa fa-check"></i></button> 
                            </td>
                            <td class="col-md-1"> <button type="button" class="btn btn-dark float-right" th:onclick="|window.location.href='@{/download.xls}'|" data-toggle="tooltip" data-placement="bottom" title="preview"><i class="fa fa-check"></i></button> 
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>