<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/headerHead :: head">...</div>

<div th:replace="fragments/headerNavBar :: header">...</div>

<body class="bg-light text-black bgsecond">
    <div class="container text-center">
        <br/><br>
        <h1>Welcome to Feedbacksystem</h1>
        <!-- <img th:src="@{/img/badenia_logo.png}" class="img-fluid" alt="Responsive image"> -->
        
       <form >

  <div class="container" >
  <h3>Log in</h3>
    <label for="uname"><b>Username</b></label>
    <input type="text" style="width:200px;" placeholder="Enter Username" name="uname" required> <br>


    <label for="psw"><b>Password</b></label>
    <input type="password" style="width:200px;" placeholder="Enter Password" name="psw" required><br>

    <button type="submit" style="width:300px;">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
  </div>
</form>   
        
     </div>
     <div>   
        
   <form >
  <div class="container">
    <h3>Sign Up</h3>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" style="width:200px;" placeholder="Enter Email" name="email" required><br>
    
    <label for="email"><b>Username</b></label>
    <input type="text" style="width:200px;" placeholder="Enter Username" name="username" required><br>

    <label for="psw" ><b>Password</b></label>
    <input type="password" style="width:200px;" placeholder="Enter Password" name="psw"  required><br>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" style="width:200px;" placeholder="Repeat Password" name="psw-repeat" required><br>


    <div class="clearfix">
      <button type="button" style="width:300px;" class="cancelbtn">Cancel</button>
      <button type="submit" style="width:300px;" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>       
        
    </div>
</body>

</html>