<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/headerHead :: head">...</div>

<div th:replace="fragments/headerNavBar :: header">...</div>

<body class="bg-light text-black bgsecond">
     <form id="frame"  style=" width:400px; margin:auto;" th:action="@{/login}" method="post">
		<div class="container">
			<h3>Log in</h3>
			<label for="username" th:text="#{label.form.loginEmail}"></label>
			<input type="text" style="width: 200px;" placeholder="Enter Username" name="username" required>
			<br /> 
			<label for="password" th:text="#{label.form.loginPass}"></label> 
			<input type="password" style="width: 200px;" placeholder="Enter Password" name="password" required>
			<br />
			<button id="logInButton" type="submit" style="width: 300px;" th:text="#{label.form.submit}">Login</button>
    		<p><a id= "CreateAccButton" th:href="@{/signup}">Create Account</a></p>
		</div>
	</form>
</body>
</html>