<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/headerHead :: head">...</div>

<div th:replace="fragments/headerNavBar :: header">...</div>

<body class="bg-light text-black bgsecond">
     <form id="frame"  style=" width:400px; margin:auto;">

  <div class="container" >
  <h3>Log in</h3>
    <label for="uname"><b>Username</b></label>
    <input type="text" style="width:200px;" placeholder="Enter Username" name="uname" required> <br>


    <label for="psw"><b>Password</b></label>
    <input type="password" style="width:200px;" placeholder="Enter Password" name="psw" required><br>

    <button id= "logInButton" type="submit" style="width:300px;">Login</button>
  </div>

</form>   



</body>
</html>