<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="form-group" th:id="'freetext-' + ${question.id}" th:fragment="freetext">
		<th:block th:each="i : ${#numbers.sequence(0,question.options.size() -1, 1)}" th:with="o=${question.options[i]}">
			<input type="checkbox" class="hide-radio" th:field="*{questions[__${stat.index}__].answerId}" th:value="${o.getId()}" checked>
			<input class="form-control" type="text" required="required" placeholder="Freetext" th:field="*{questions[__${stat.index}__].answerFreeText}"/>
		</th:block>
</div>
</html>