<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="form-group" th:fragment="stars" th:id="'star-' + ${question.id}">
    <div class="stars" th:id="'star-' + ${question.id}">
    	<th:block th:each="i : ${#numbers.sequence(question.options.size() -1, 0, -1)}" th:with="o=${question.options[i]}" th:id="'star-' + ${i+1}">
		    <input th:class="'star star-' + ${i+1}" th:id="'star-' + ${i+1} + '-' + ${question.id}"  
		    type="radio" th:field="*{questions[__${stat.index}__].answerId}" th:value="${o.id}"/>
		    <label th:class="'star star-' + ${i+1}" th:for="'star-' + ${i+1} + '-' + ${question.id}"></label>
	    </th:block>
    </div>
</div>
</html>