<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="form-group" th:id="'freetext-' + ${question.id}" th:fragment="freetext">
		<th:block th:each="i : ${#numbers.sequence(0,question.options.size() -1, 1)}" th:with="o=${question.options[i]}">
			<input type="radio" style="display: none" th:field="*{questions[__${stat.index}__].answerId}" th:value="${o.id}" th:id="${question.id}"/>
			<input class="form-control" type="text" th:id="'input-' + ${question.id}" 
			th:onchange="|check(${question.id})|" 
			th:onkeyup="|toCount('input-' + ${question.id}, 'remainingC-' + ${question.id}, '{CHAR} characters remaining', 255)|"
			placeholder="Freetext" 
			th:maxlength="255" th:field="*{questions[__${stat.index}__].answerFreeText}"
			th:required="${question.answerRequired} ? 'required' : 'false'"
			data-error="Please fill this field"/>
			<span th:id="'remainingC-' + ${question.id}"></span>
			<div class="help-block with-errors text-danger" role="alert"></div>
			<script>
			function check(id) {
			  document.getElementById(id).checked = true;
			}
			function toCount(entrance,exit,text,characters) {  
			    var entranceObj=document.getElementById(entrance);  
			    var exitObj=document.getElementById(exit);  
			    var length=characters - entranceObj.value.length;  
			    if(length <= 0) {  
			    length=0;  
			    text='<span class="disable"> '+text+' <\/span>';  
			    entranceObj.value=entranceObj.value.substr(0,characters);  
			    }  
			    exitObj.innerHTML = text.replace("{CHAR}",length);  
			 }
			</script>
		</th:block>
</div>

</html>
