<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/headerHead :: head">...</div>

<div th:replace="fragments/headerNavBarNoSearch :: headerNoSearch">...</div>


<body class="bg-light text-black bgsecond">
	<section id="cover">
		<div id="cover-caption">
			<div id="container" class="container">
				<div class="row text-black">
					<div class="col-sm-6 offset-sm-3 text-center">
						<div class="card-header p-0">
							<div class="bg-info text-center py-3">
								<h3>Sign in</h3>
							</div>
						</div>
						
						<form th:action="@{/signup}" method="post" th:object="${user}"
							class="justify-content-center">
							
							<div th:class="''" th:classappend="${#fields.errors().size() > 0} ? '' : invisible">
								<div class="alert alert-danger">
									<p th:each="error : ${#fields.errors()}" 
											th:text="${error}">Validation error</p>
								</div>
							</div>
							
							<div class="form-group">
								<div class="input-group mb-2">
									<div class="input-group-prepend"></div>
									<label for="username" th:text="#{label.form.loginEmail}"></label>
									<input type="text" placeholder="Enter Email" name="username"
										th:field="*{email}" required> <br />
<!-- 									<p class="alert alert-danger th:each="error : ${#fields.errors('email')}" -->
<!-- 										th:text="${error}">Validation error</p> -->

								</div>
							</div>

							<div class="form-group">
								<div class="input-group mb-2">
									<div class="input-group-prepend"></div>

									<label for="password" th:text="#{label.form.loginPass}"></label>
									<input type="password" placeholder="Enter Password"
										name="password" th:field="*{password}" required> <br />
<!-- 									<p th:each="error : ${#fields.errors()}" -->
<!-- 										th:text="${error}">Validation error</p>	 -->
								</div>
							</div>

							<div class="form-group">
								<div class="input-group mb-2">
									<div class="input-group-prepend"></div>

									<label for="passwordConfirm"
										th:text="#{label.form.loginPassConfirm}"></label> <input
										type="password" placeholder="Reenter Password"
										name="passwordConfirm" th:field="*{passwordConfirm}" required>
									<br />
								</div>
							</div>

							<div class="clearfix">
								<button id="logInButton" type="submit" class="col-md-8"
									th:text="#{label.form.submit}">Sign in</button>
								<p>
									<a id="cancelButton" th:href="@{/login}">Cancel</a>
								</p>
							</div>
						</form>
					</div>

				</div>
				<br>
			</div>
		</div>
	</section>
</body>
</html>
